@media (max-width: 320px) {

  body {
    font-family: sans-serif;
    font-size: 100%;
    font-family: "Poppins", "Helvetica", "Arial", sans-serif;
    color: rgb(59,84,106);
    background-image: url("../img/lightmarble.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  #wrapper {
    border: 0;
    max-width: 320px;
    margin: 0;
    padding: 0.5em;
  }

  section {
    /*margin: 0 auto;*/
    width: 90%;
  }

  #education,
  #skills,
  #honors {
    width: 90%;
  }

  header h1 {
    font-size: 180%;
    line-height: 1.5;
    text-align: center;
  }

  section h2 {
    font-size: 120%;
  }

  p,
  li {
    font-size: 80%;
    margin-left: 0;
    padding-left: 0;
  }

  footer {
    display: none;
  }

  a {
    font-family: "Poppins", "Helvetica", "Arial", sans-serif;
    font-size: 100%;
    letter-spacing: .7px;
    color: #000;
  }

  a:visited {
    color: #000;
  }

  a:hover {
    color: rgb(59,84,106);
  }

  a:active {
    color: rgb(229,229,229);
  }

  h2 {
    font-family: "Playfair Display", "Times New Roman", serif;
    color: rgb(59,84,106);
    font-size: 85%;
    padding-left: 0;
    margin-left: 0;
  }

  p,
  li,
  article,
  ul{
    padding: 0%;
    margin: 0%
  }

  main {
    width: 90%;
  }

  section h2 li ul,
  section h2 p,
  section h2 {
    padding: 0;
  }

  section {
    padding: 2%;
  }

  h3 {
    font-size: 90%;
    margin: 0 auto;
    padding: 0;
    color: black;
  }


  #contactaddress h2 {
    font-size: 120%;
  }

  #getintouch h2 {
  font-size: 120%;
  }

  section #centertitle {
  font-size: 100%;
  color: black;
  }

  #topnav ul li a {
  font-size: 100%;
  }

  #topnav {
  margin: 0;
  padding: 0;
  text-align: center;
}

  #top-box,
  #bottom-box {
  clear: both;
  }
