* {
  background: transparent; !important
  color: black;
  font-size: 9pt;
  font-family: "Times New Roman", serif;
}

a {
  text-decoration: none;
  color: black;
}

@page {
  margin: 0.5in;
}

nav,
footer {
  display: none;
}

h1{
  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 40pt;
  text-align: center;
  margin: 0;
}

h2 {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 11pt;
  margin: .2in 0 .05in 0;
}

section,
article {
  margin-bottom: 0.08in;
}

h3,
h4,
h5,
p,
ul,
li {
  margin: 0;
}


ul li {
  list-style: none;
}

#name {
  font-size: 12pt;
  text-align: center;
  margin: .02in 0 .15in 0;
}

#contact {
  width: 36%;
  float: left;
  margin-right: 10%;
}

#education {
  width: 54%;
  float: left;
}

#skills {
  width: 36%;
  float: left;
  margin-right: 10%;
}

#honors {
  width: 54%;
  float: left;
}

.clear {
  clear: both;
}
