/*style.css*/
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  color: rgb(59,84,106);
  font-size: 16px;
  border: 6px solid rgba(59,84,106,.5);
  background-image: url("../img/lightmarble.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#wrapper {
  max-width: 960px;
  min-width: 320px;
  margin: 0 auto;
}

/*links*/
a {
  font-family: "Playfair Display", "Times New Roman", serif;
  letter-spacing: .7px;
  color: rgb(59,84,106);
}

a:visited {
  color: rgb(59,84,106);
}

a:hover {
  color: #000;
}

a:active {
  color: rgb(229,229,229);
}

header {
  width: 400px;
  padding: 0px;
  margin: 0 auto;
  font-family: "Playfair Display", "Times New Roman", serif;
  color: rgb(59,84,106);
  font-size: 72px;
  line-height: .5;
  text-align: center;
  opacity: .5;
}

h1 {
  margin: 135px 0 45px;
}

h2 {
  font-family: "Playfair Display", "Times New Roman", serif;
  color: rgb(59,84,106);
  font-size: 30px;
  text-align: center;
  padding: 10px 0;
}

h3 {
  color: rgb(59,84,106);
}

ul,
p,
h3,
h4,
h5 {
  margin: 4px 0;
}

li {
  list-style: none;
  margin-bottom: 8px;
}

section {
  margin-bottom: 110px;
}

article {
  margin-bottom: 40px;
}

main section {
  background-color: rgba(237,238,240,.5);
}

section {
  padding: 10px 20px 30px;
}

nav {
  width: 880px;
  font-family: "Playfair Display", "Times New Roman", serif;
  padding: 7px 0px 4px 36px;
  background-color: rgba(59,84,106,.15);
}

nav ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-right: 49.5px;
}

nav li a {
  text-decoration: none;
}

section nav {
  margin: 40px 0px;
}

footer {
  padding: 0 0px 100px 30px;
}

#top-box {
  overflow:auto;
}

#top-box section {
  width: 380px;
  float: left;
  padding-bottom: 50px;
}

#top-box #contact {
  margin-right: 120px;
}

#bottom-box {
  overflow:auto;
  margin: 20px 0 10px;
}

#bottom-box section {
  width: 380px;
  float: left;
  margin-left: 0;
}

#name {
  margin-bottom: 120px;
}

#skills {
  padding: 20px 14px;
  width: 370px;
  margin-right: 145px;
}

#skills p {
  padding-left: 30px;
}

.clear {
  clear: both;
}

#honors {
  padding: 20px 20px 40px 6px;
}

#honors p {
  padding: 0 0 30px 40px;
}

#topnav {
  margin-bottom: 70px;
}

.indent {
  padding-left: 100px;
}


.internship,
.campus-involvement {
  padding-left: 50px;
}
